<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css">
    <link rel="stylesheet" href="../static/css/crear_rol.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Rol</title>
</head>
<body>
<body>

     <div class="left-panel">
    <h1 class="title"> <img src="/static/img/logotec.webp" alt="icono" class="logo-Tec3">Crear rol</h1>
    <p class="subtitle">Ingrese el nombre del rol</p>

    <div class="input-container">

      <span class="icon">≡</span>

      <select id="CrearRol">
            <option value="" disabled selected> Crear Rol </option>
            <option value="Rol1">Administrador</option>
            <option value="Rol2">Familiar</option>
            <option value="Rol3">Docente</option>
        </select>
    </div>

    <a href="#"></a>
    <button class="btn">Registrar rol</button>
    </a>

  </div>

  <div class="right-panel">
    <div class="circle"></div>
  </div>
    
</body>

    
</body>
</html>