<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración</title>
    <link rel="stylesheet" href="/static/css/pagina_admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="page-container">
        <div class="page-content">
            <header>
                <div class="header-content">
                    <img src="/static/img/logotec.webp" alt="Logo Escuela Técnica" class="logo">
                    <h1>Administración</h1>
                </div>
            </header>
                <div class="buttons-container">
                <a href="crear_rol.html" class="btn btn-green" title="Genera un rol para una cuenta">
                    Crear Rol
                </a>
                <a href="regrist_cuenta_adm.html" class="btn btn-yellow" title="Crea una cuenta con capacidades similares a las suyas">
                    Registrar cuenta de institucion
                </a>
                <a href="pagina_principal.html" class="btn btn-green" title="Volver a la página principal">
                    Volver al inicio
                    </a>
                <a href="login_institucional.html" class="btn btn-yellow" title="Cambia de cuenta">
                    Cerrar sesion
                </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
